* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color:black;
}

nav{

    padding: 15px;
    text-align: right;

}

a{

    margin: 10px;

}

button{

    margin: 30px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightblue;
   
}

button:hover{

    background-color: lightcoral;
    color: white;
}

h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding: 50px;
   
}


p{
    text-align: justify;
    margin-top: 0px;
}

.content{
    
    width: 1000px;
    height: 1000px;
    margin: 200px;
    margin-top: 70px;
    
}

h5{

    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 0px;
    padding: 25px;
   
}

ul{

   text-align: justify;
   margin:60px;
}

button{

    padding: 15px;
}